@use "~/abstracts" as *;

.dashboard {
  display: flex;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
}

.view {
  padding: space(3) space(6);
  display: flex;
  flex-direction: column;
  gap: space(3);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: space(1);
}

.growthIndexes {
  display: flex;
  gap: space(2);
}

.panels {
  display: flex;
  gap: space(2);
}