@use "~/abstracts" as *;

.growthIndex {
  display: flex;
  flex-direction: column;
  gap: space(1);
  padding: space(2);
  border: hsla(0, 0%, 0%, 0.2) 1px solid;
  border-radius: 10px;
}

.medianame {
  font-weight: bold;
}

.views {
  font-weight: bold;
}

.values {
  display: flex;
  flex-direction: column;
  gap: space(1);
}

.data {
  display: flex;
  align-items: center;
  gap: space(1);
}

.container {
  width: 250px;
}